<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>FriendManager - Add Friend</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/subscribe.js"></script>
    </head>

    <body>
        <% if ! authorized? %>
            Step 1/2
            <%= render_login_button %>
        <% else %>
            Step 2/2
            Confirm: Add <span id="id"><%= name %></span> from <%= url %> to <%= ownUrl %>?
            <form method="POST" id="addFriend" action="<%= ownUrl %>/people/<%= name %>/friend">
                <input type="hidden" name="url" value="<%= url %>" />
                <button type="submit">OK</button>
            </form>
        <% end %>
    </body>
</html>
    